# Credentials
access_key = ""
secret_key = ""

# Database
database_admin_username = "postgres"
database_admin_password = "Pass1234"

# Portal
portal_admin_password = ""
portal_license        = "'{}'"
dev_portal_auth_config = "'{}'"

# Certificate ID
cert_id = "arn:aws:acm:ap-southeast-1:xxxxxxxxx:certificate/xxxxxxxxxxxx"

# Lab Env provider_ip
provider_ip = "x.x.x.x"

# Demo related variables
gems_tag           = "Gems_Tenant_Demo" # ec2 tags
vpc_cidr_ip        = "172.100" # vpc cidr range
gateway_uri        = "demo-gateway.example.com"
admin_api_uri      = "demo-adminapi.example.com"
manager_uri        = "demo-manager.example.com"
dev_portal_uri     = "demo-devportal.example.com"
dev_portal_api_uri = "demo-devportalapi.example.cm"
route53_domain = "example.com"



